.news-image{
    height: 40%;
}

.publish-time{
    /* margin-bottom: 19%; */
    margin-right: 6%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse row-reverse;
    font-size: small;
}

.news-card{
    margin-top: 4px;
}

.news-card:hover{
    border-radius: 5px;
    transform: scale(1.06);
    z-index: 1;
    border: 2px solid black;
}